@charset "utf-8";

* {margin:0;padding:0;
   border;
   background-color:azure;
   list-style:none;
}
      
li {float:left;}

header{ width:440px;
	height:100px;
	background-color:lightyellow;
	margin-left:auto;
	margin-right:auto;
}

#myga{  margin-left:10px;
	width:80px;
	height:100px;
}

#yourga{margin-left:340px;
        width:80px;
	height:100px;
}

#mainbox {width:440px;
          height:400px;
	  margin-left:auto;
	  margin-right:auto;
}

#box {	Å@width:50px;
          height:50px;
	  background-color:green;
}

footer{   width:440px;
	  height:100px;
	  background-color:lightyellow;
	  margin-left:auto;
	  margin-right:auto;
}